<div class="container-app bg-[url('assets/images/pexels-pixabay-258160.jpg')] bg-[length:100%_100%] bg-no-repeat flex justify-center pt-[115px]">
  <div class="flex flex-col w-[95%] h-[95%] md:w-7/12 justify-center">
    <div class="app-div-rectangle">
      <div class="h-2/4 flex justify-center w-full">
        <img src="assets/images/Logo_ENI.svg" class="w-[30%] phone:w-[15%] lg:w-[8%] z-10 opacity-70 drop-shadow-[5px_0_10px_#ffffff9e] mr-5">
        <div class="flex items-center justify-center">
          <div class="flex flex-col justify-center items-center">
            <h3 class="mb-4 text-2xl font-extrabold text-gray-900 md:text-5xl lg:text-4xl text-center">
              <!-- <span class="text-[#4c596e] drop-shadow-[5px_0_10px_#ffffff9e]">BENVENUTO, {{ userLogged()?.name | uppercase }}</span> -->
            </h3>
          </div>
        </div>
      </div>
      <div class="h-2/4 flex flex-col items-center justify-between w-full mb-2">
        <div class="flex flex-col w-full">
          <p class="w-11/12 text-2xl font-semibold text-white-500 text-centerb drop-shadow-[5px_0_10px_#000000e0] text-center">Benvenuto nella pagina iniziale dell'applicativo <br>NIS (New Integrated System).</p>
          <p class="w-11/12 text-lg font-semibold text-white-500 text-centerb drop-shadow-[5px_0_10px_#000000e0] text-center">Seleziona nel menu sottostante l'area in cui desideri navigare.</p>
        </div>
        <div class="btm-nav h-1/5">
          <!-- <button class="bg-[#14334f] text-white" [routerLink]="[principalRoute().ioc]">
            <app-variant-icon [marginTop]="iconIoc().marginTop" [variant]="iconIoc().variant"></app-variant-icon>
            <span class="btm-nav-label">IOC</span>
          </button>
          <button class="bg-[#004b7d] text-white" [routerLink]="[principalRoute().scheduler]">
            <app-variant-icon [marginTop]="iconScheduler().marginTop" [variant]="iconScheduler().variant"></app-variant-icon>
            <span class="btm-nav-label">Schedulatore / Blue Button</span>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
