<div class="navbar bg-base-100 fixed z-40">
  <div class="flex-none me-2">
    <label for="my-drawer" class="btn btn-square btn-ghost drawer-button">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg> -->
    </label>
  </div>
  <div class="flex-1">
    <a class="btn btn-ghost text-xl hidden phone:contents" [routerLink]="['']">NIS</a>
    <img src="assets/images/Logo_ENI.svg" class="w-[30.5px] ms-2 cursor-pointer drop-shadow-[5px_0_10px_#ffffff9e] pb-2 ml-4" [routerLink]="['']">
  </div>
  <div class="flex-none">
    <!-- @if (this.user()) {
      <span class="mr-2 text-sm phone:text-lg">{{ user()!.name }} {{ user()!.surname }}</span>
    } -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img alt="Tailwind CSS Navbar component" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
      </div>
      <div tabindex="0" class="dropdown-content menu menu-sm card card-compact w-64 p-2 shadow bg-neutral text-neutral-content z-50">
        <!-- <div class="card-body">
          @if (this.user()) {
            <h3 class="card-title text-white">Ruolo: {{ user()!.role.name }}</h3>
            <li><a class="text-lg text-white" [routerLink]="[principalRoute().administration + administrationRouteNavigate().userDetail, this.user()!.email]">Profile</a></li>
          }
          <li><a class="text-red-600 text-lg" (click)="logout()"><app-variant-icon class="mt-[10px]" [variant]="'logout'"></app-variant-icon>Logout</a></li>
        </div> -->
      </div>
    </div>
  </div>
</div>
