<div class="drawer z-50">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" bind:checked="false"/>
  <div class="drawer-content">
    <app-header></app-header>
    <div class="view-height">
      <router-outlet></router-outlet>
    </div>
    @defer (on viewport) {
      <app-footer></app-footer>
    } @placeholder {
      <div></div>
    }
  </div>
  <div class="drawer-side z-50">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
      <!-- Sidebar content here -->
      <label for="my-drawer" class="drawer-button" [routerLink]="[principalRoute().ioc]" routerLinkActive="bg-[#272c33]">
        <li>
          <div class="flex">
            <app-variant-icon [marginTop]="iconIoc().marginTop" [variant]="iconIoc().variant"></app-variant-icon>
            <a>IOC</a>
          </div>
        </li>
      </label>
      <label for="my-drawer" class="drawer-button" [routerLink]="[principalRoute().scheduler]" routerLinkActive="bg-[#272c33]">
        <li>
          <div class="flex">
            <app-variant-icon [marginTop]="iconScheduler().marginTop" [variant]="iconScheduler().variant"></app-variant-icon>
            <a>Schedulatore</a>
          </div>
        </li>
      </label>
      @if (this.userLogged()?.role?.name === 'ADMIN') {
        <label class="drawer-button">
          <div class="dropdown dropdown-hover w-full">
            <li tabindex="0">
              <div class="flex">
                <app-variant-icon [marginTop]="iconAdministration().marginTop" [variant]="iconAdministration().variant"></app-variant-icon>
                <a>Amministrazione</a>
              </div>
            </li>
            <div tabindex="0" class="dropdown-content z-[1] w-full ">
              <ul class="p-2 menu shadow rounded-box w-[90%] bg-[#2b333e] ms-[10%] mt-1">
                <li [routerLink]="[principalRoute().administration]" routerLinkActive="bg-[#272c33]" class="bg-[#2b333e] w-full">
                  <div class="flex">
                    <app-variant-icon [marginTop]="iconUser().marginTop" [variant]="iconUser().variant"></app-variant-icon>
                    <label for="my-drawer" class="cursor-pointer">Gestione Utenti</label>
                  </div>
                </li>
                <!-- <li class="bg-[#2b333e] w-full"><label for="my-drawer">Gestione Ruoli</label></li> -->
              </ul>
            </div>
          </div>
        </label>
      }
    </ul>
  </div>
</div>
